# Python
__pycache__/
*.py[cod]
*.class
.venv/
venv/
*.env

# Docker
.dockerignore

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Datos (La barra inicial es CRÍTICA)
/data/
*.parquet
*.csv
*.pkl
*.h5

# IDEs
.vscode/
.idea/
*.swp

credentials/
*.json